<div class="modal fade" id="modal-edit">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Edit Books</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" method="post" id="form-books" action="/admin/users/updateStudents">
              <div class="box-body">

                <div class="form-group">
                    <label class="col-sm-2 control-label" >Id</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="edit_id" name="id" placeholder="Id">
                    </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label" >Firstname</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="edit_firstname" name="firstname" placeholder="Firstname">
                  </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" >Lastname</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="edit_lastname" name="lastname" placeholder="Lastname">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" >Username</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="edit_username" name="username" placeholder="Username">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" >Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="edit_password" name="password" placeholder="Password">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" >Email</label>
                    <div class="col-sm-10">
                        <input type="email"  class="form-control" id="edit_email" name="email" placeholder="Email">
                    </div>
                </div>

                <div class="form-group">
                  <label  class="col-sm-2 control-label">Role</label>
                  <div class="col-sm-10">
                      <select name="role" class="form-control">
                          <option></option>
                          <option value="1">Students</option>
                          <option value="2">Teachers</option>
                      </select>
                  </div>
                  
              </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                  <button type="submit" name="btn_submit" id="btn-save" class="btn btn-primary">Save Edit</button>
                </div>

              </div>
            </form>
        </div>
       
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->